@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/Cocogoose.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --base-color: #272a31;
  --second-color: #ec5242;
  --third-color: #d3d3d3;
  --font: "Lato", sans-serif;
  --title-font: 'Cocogoose', sans-serif;
}

span {
  color: var(--second-color);
  text-decoration: none;
}

.line {
  width: 49px;
  height: 2px;
  border-bottom: 1px solid var(--second-color);
  margin: auto;
}

.logo {
  display: none;
  font-size: 1.5rem;
  font-weight: 600;
  align-self: center;
  text-decoration: none;
}

body {
  background-color: rgba(243, 243, 243, 0.575);
  font-size: 100%;
  font-family: var(--font);
  font-weight: normal;
  margin: 0;
}

.campagn {
  display: none;
}

.hero {
  padding: 0 10px;
}

.top-header {
  display: none;
}

.navbar {
  padding: 0 10px;
}

.evt-title {
  color: var(--second-color);
}

.evt-title-f {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
}

.evt-title-s {
  margin-top: 0;
  font-family: var(--title-font);
}

.evt-desc {
  border: solid white;
  padding: 10px;
  align-content: center;
}

.evt-desc > p {
  font-size: 0.8rem;
  margin: 0;
}

footer > h5 {
  color: white;
  background-color: var(--base-color);
  text-align: center;
  font-size: 0.6rem;
  font-weight: normal;
  margin-bottom: 0;
}

.evt-d-p > h2 {
  color: #272a31;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
}

.evt-d-p > h5 {
  margin-top: 0;
  font-size: 0.6rem;
  font-weight: normal;
}

main {
  background-color: var(--base-color);
  padding: 20px 10px;
}

.main-title-container {
  align-content: center;
  color: white;
}

.main-title-container > h3 {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.ctn-program {
  list-style: none;
  padding: 0;
}

.program-ctn {
  display: grid;
  grid-template-columns: 20% 30% 50%;
  justify-content: center;
  align-content: center;
  background-color: #6a6b6e80;
}

.program-ctn > p,
.program-ctn > h3,
.program-ctn > img {
  font-size: 0.8rem;
  align-self: center;
  padding: 5px;
}

.program-ctn > p {
  color: rgb(228, 228, 228);
}

.program-ctn > h3 {
  color: var(--second-color);
}

.program-ctn > img {
  width: 50px;
  height: 50px;
}

.item-program {
  margin-bottom: 0.5em;
}

.ctn-btn {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.btn {
  border: 2px solid var(--second-color);
  background-color: var(--second-color);
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.ctn-speakers {
  text-align: center;
  padding: 0 10px;
}

.spk-title {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 30px;
}

.ctn-spk {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100px;
  column-gap: 5px;
}

.spk-img-ctn {
  height: 100%;
  text-align: center;
  align-self: center;
}

.spk-img-ctn > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spk-name,
.spk-role,
.spk-desc {
  text-align: start;
  margin-top: 0;
  font-size: 0.6rem;
  margin-left: 5px;
}

.spk-role {
  color: var(--second-color);
}

.spk-name {
  font-weight: bolder;
}

.nav-menu {
  display: none;
}

.mobile-menu-container {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--second-color);
  width: 100%;
  height: 100vh;
}

.mobile-menu-close-btn {
  padding: 1rem;
}

.mobile-menu-container > ul > li {
  margin-bottom: 40px;
  list-style: none;
}

.mobile-menu-container > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.spk-title-ctn {
  margin-bottom: 15px;
}

.ctn-speakers-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.img-spk::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 20em;
  background: url(../images/dots.svg) no-repeat;
  left: 0;
  top: -4em;
}

footer {
  align-content: center;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .top-header > ul > li > a > img {
    width: 15px;
    height: 15px;
  }

  .right-ctn > a {
    align-self: center;
    text-decoration: none;
    border: 5px solid var(--second-color);
    padding: 5px 5px;
    color: var(--second-color);
  }

  .top-header {
    display: block;
  }

  .top-header > ul {
    display: flex;
    color: white;
    background-color: var(--base-color);
    justify-content: flex-end;
    gap: 15px;
    list-style: none;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 0;
  }

  .top-header > ul > li > a {
    text-decoration: none;
    color: white;
  }

  .menu-button {
    display: none;
  }

  .mobile-menu-container {
    display: none;
  }

  .logo {
    display: block;
  }

  .navbar {
    padding: 0;
    background-color: white;
    box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  }

  .nav-container {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    place-content: space-between;
  }

  .campagn {
    display: block;
  }

  .hero {
    padding-left: 15%;
    padding-right: 15%;
  }

  .evt-title-s {
    font-size: 3.5rem;
  }

  main {
    padding-left: 15%;
    padding-right: 15%;
  }

  .ctn-program {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .program-ctn {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .ctn-speakers {
    padding-left: 15%;
    padding-right: 15%;
  }

  .nav-menu {
    display: flex;
    gap: 32px;
  }

  .right-ctn {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .right-ctn > ul {
    list-style: none;
  }

  .right-ctn ul > li > a {
    text-decoration: none;
    color: var(--base-color);
  }

  .item-program {
    border: 2px solid transparent;
  }

  .item-program:hover {
    border: 2px solid white;
    cursor: pointer;
  }

  .ctn-speakers-div {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 50px;
  }

  .ctn-spk-info > h5,
  .ctn-spk-info > p {
    font-size: 0.7rem;
  }
}
